# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Flask session & database
instance/
.env
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
.env/
.venv/

# Render build
build/
dist/

# Node/React (if frontend exists)
node_modules/
".env" 
