# Python bytecode and cache
*.pyc
__pycache__/
*.pyo
*.pyd

# Python environment variables
.env

# Flask session & database
instance/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
.venv/

# Render build artifacts
build/
dist/

# Node/React dependencies
node_modules/
